<div id="abc">
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/welcome']">Home</a>
      </li>
      <li>
        <!-- <i class="fa fa-comments" style="font-size: large"></i> -->

        <a (click)="onDashboardNavigate()" type="submit">Dashboard</a>
      </li>

      <li>
        <a (click)="onProfileNavigate()" type="submit">User Profile</a>
      </li>
    </ul>
  </nav>
  <!-- <div class="option-item" style="font-size: x-large">
    <i
      class="fa fa-backward"
      style="color: darkslategray"
      type="submit"
      [routerLink]="['/welcome']"
    ></i>
  </div> -->
  <div class="page">
    <div class="d-flex flex-row flex-wrap w-100 justify-content-center">
      <app-camera-preview></app-camera-preview>
      <div
        class="meeting-actions-container d-flex flex-column align-items-center w-25 justify-content-md-center mt-sm-5"
      >
        <div class="meeting-info">
          <h5>Preview Ready</h5>
          <form [formGroup]="connectionInfoForm" (ngSubmit)="onJoinMeeting()">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Broadcaster Name</span>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="channel"
                placeholder="Enter your name"
              />
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Join Link</span>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="link"
                placeholder="Join with link"
              />
            </div>
            <div class="button-container">
              <button type="submit" class="btn btn-primary">Join Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
